
<div>

@using (Html.BeginForm("Index", "Home", FormMethod.Post)) 
{
   <input type="text" name="Value" id="IdValue" />

   <input type="submit" value="Submit" />
}
</div>

[HttpGet]
        public IActionResult GetValueFromPostman(string parameter)
        {
            return Json("edi");
        }


<div class="text-center">
    <div> 
        <h1>@ViewData["Console"]</h1>

    </div>
     <h2>@ViewData["Rezultatet"]</h2>
</div>